.blockedip-page {
   height: 88vh;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.blockedip-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    gap: 10px;
    /* padding: 10px; */
}


.blockedip-col-1{
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 5px;
    width: 100%;
}
.blockedip-col-2{
    display: grid;
    grid-template-rows:50% 50%;
    gap: 5px;
    width: 100%;
}

.blockedip-col-1 {
    background-color: #e3f2fd;
}

.blockedip-col-2 {
    background-color: #f5f5f5;
}

.blockedip-row-1, .blockedip-row-2, .blockedip-row-3,.blockedip-row-4{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blockedip-row-1 {
    background-color: #bbdefb;
}

.blockedip-row-2 {
    background-color: #90caf9;
}

.blockedip-row-3 {
    background-color: #eeeeee;
}
.blockedip-row-4 {
    background-color: #cfd8dc;
}

